.formDiv {
  width: 50%;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer button {
  cursor: pointer;
  text-decoration: none;
  font-weight: 300px;
  border-radius: 16px;
  padding: 0.5rem 1.5rem;
  width: 40%;
}

.footer .buttonSubmit {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--white);
}

.footer .buttonSubmit:hover {
  background-color: var(--secondary-50);
}

.date {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}

.date select,
.date input {
  border: 1px solid var(--primary);
  border-radius: 16px;

  color: var(--primary);
  background-color: transparent;
  align-items: center;
  height: fit-content;
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h2 {
  font-weight: 500;
  color: var(--primary);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.selectCustomer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 16px;
  color: var(--primary);
  background-color: transparent;
  align-items: center;
  height: fit-content;
  padding: 0.5rem;
}

.select {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.select label {
  color: var(--primary);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fade-in 0.3s ease-in-out;
}

.loadingText {
  font-size: 20px;
  padding: 8px;
  border-radius: 24px;
  background: #fff;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 16px;
  text-align: center;
}

@media (max-width: 1024px) {
  .formDiv {
    width: 100%;
  }
}
